<header>
    <div>
        <h1>Logo</h1>
        <li>
            <ul><a href="#">Sobre</a></ul>
            <ul><a href="#">Produtos</a></ul>
            <ul><a href="#">Contato</a></ul>

        </li>
    </div>
</header>